<?xml version="1.0"?>
<config>
	<modules>
		<MDS_Collivery>
			<version>0.2.2</version>
		</MDS_Collivery>
	</modules>
	<global>
		<models>
			<mds_collivery>
				<class>MDS_Collivery_Model</class>
			</mds_collivery>
		</models>
		<resources>
			<collivery_setup>
				<setup>
					<module>MDS_Collivery</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</collivery_setup>
			<collivery_write>
				<connection>
					<use>core_write</use>
				</connection>
			</collivery_write>
			<collivery_read>
				<connection>
					<use>core_read</use>
				</connection>
			</collivery_read>
		</resources>
		<blocks>
			<collivery>
				<class>MDS_Collivery_Block</class>
			</collivery>
		</blocks>
		<helpers>
			<collivery>
				<class>MDS_Collivery_Helper</class>
			</collivery>
		</helpers>
	</global>
	<global>
		<fieldsets>

			<sales_copy_order_billing_address>
				<mds_cptype>
					<to_order>*</to_order>
				</mds_cptype>
				<mds_building>
					<to_order>*</to_order>
				</mds_building>
			</sales_copy_order_billing_address>

			<sales_copy_order_shipping_address>
				<mds_cptype>
					<to_order>*</to_order>
				</mds_cptype>
				<mds_building>
					<to_order>*</to_order>
				</mds_building>
			</sales_copy_order_shipping_address>

			<sales_convert_order_address>
				<mds_cptype>
					<to_quote_address>*</to_quote_address>
				</mds_cptype>
				<mds_building>
					<to_quote_address>*</to_quote_address>
				</mds_building>
			</sales_convert_order_address>

			<sales_convert_quote_address>
				<mds_cptype>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</mds_cptype>
				<mds_building>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</mds_building>
			</sales_convert_quote_address>

			<customer_address>
				<mds_cptype>
					<to_quote_address>*</to_quote_address>
				</mds_cptype>
				<mds_building>
					<to_quote_address>*</to_quote_address>
				</mds_building>
			</customer_address>

			<checkout_onepage_billing>
				<mds_cptype>
					<to_customer>*</to_customer>
				</mds_cptype>
				<mds_building>
					<to_customer>*</to_customer>
				</mds_building>
			</checkout_onepage_billing>

		</fieldsets>
	</global>
	<default>
		<carriers>
			<collivery>
				<active>1</active>
				<model>mds_collivery/carrier_collivery</model>
				<title>MDS Collivery</title>
				<lengthLabel>length</lengthLabel>
				<widthLabel>width</widthLabel>
				<heightLabel>height</heightLabel>
				<markup>10</markup>
				<specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
				<sallowspecific>1</sallowspecific>
				<specificcountry>ZA</specificcountry>
			</collivery>
		</carriers>
	</default>
	<frontend>
		<routers>
			<collivery>
				<use>standard</use>
				<args>
					<module>MDS_Collivery</module>
					<frontName>collivery</frontName>
				</args>
			</collivery>
		</routers>
		<layout>
			<updates>
				<collivery>
					<file>collivery.xml</file>
				</collivery>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<colliveryadmin>
				<use>admin</use>
				<args>
					<module>MDS_Collivery</module>
					<frontName>colliveryadmin</frontName>
				</args>
			</colliveryadmin>
		</routers>
	</admin>
	<admin>
		<fieldsets>
			<customer_dataflow>
				<mds_cptype>
					<billing>1</billing>
					<shipping>1</shipping>
				</mds_cptype>
				<mds_building>
					<billing>1</billing>
					<shipping>1</shipping>
				</mds_building>
			</customer_dataflow>
		</fieldsets>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<collivery>
					<file>collivery.xml</file>
				</collivery>
			</updates>
		</layout>
	</adminhtml>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <!-- Override Adminhtml module here. -->
                        <MDS_Collivery_Adminhtml before="Mage_Adminhtml">MDS_Collivery_Adminhtml</MDS_Collivery_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
