<?xml version="1.0"?>
<config>
	<modules>
		<MDS_Collivery>
			<version>0.1.0</version>
		</MDS_Collivery>
	</modules>
	<global>
		<models>
			<mds_collivery>
				<class>MDS_Collivery_Model</class>
				<resourceModel>collivery_mysql4</resourceModel>
			</mds_collivery>
			<sales>
				<rewrite>
					<order>MDS_Collivery_Model_Sales_Order</order>
				</rewrite>
			</sales>
			<collivery_mysql4>
				<class>MDS_Collivery_Model_Mysql4</class>
				<entities>
					<shipping_quote>
						<table>mds_collivery_quote</table>
					</shipping_quote>
					<shipping_order>
						<table>mds_collivery_order</table>
					</shipping_order>
				</entities>
			</collivery_mysql4>
		</models>
		<events>
			<sales_quote_save_before>
				<!-- Name of Event -->
				<observers>
					<save_before>
						<type>singleton</type>
						<class>MDS_Collivery_Model_Observer</class><!-- Over Model Class -->
						<method>saveQuoteBefore</method> <!-- name of function -->
					</save_before>
				</observers>
			</sales_quote_save_before>
			<sales_quote_save_after>
				<!-- Name of Event -->
				<observers>
					<save_after>
						<type>singleton</type>
						<class>MDS_Collivery_Model_Observer</class><!-- Over Model Class -->
						<method>saveQuoteAfter</method> <!-- name of function -->
					</save_after>
				</observers>
			</sales_quote_save_after>
			<sales_quote_load_after>
				<observers>
					<load_after>
						<type>singleton</type>
						<class>MDS_Collivery_Model_Observer</class><!-- Over Model Class -->
						<method>loadQuoteAfter</method> <!-- name of function -->
					</load_after>
				</observers>
			</sales_quote_load_after>
			<sales_model_service_quote_submit_after>
				<observers>
					<sales_model_service_quote_submit_after>
						<type>singleton</type>
						<class>MDS_Collivery_Model_Observer</class><!-- Over Model Class -->
						<method>saveOrderAfter</method> <!-- name of function -->
					</sales_model_service_quote_submit_after>
				</observers>
			</sales_model_service_quote_submit_after>
			<sales_order_load_after>
				<observers>
					<sales_order_load_after>
						<type>singleton</type>
						<class>MDS_Collivery_Model_Observer</class><!-- Over Model Class -->
						<method>loadOrderAfter</method> <!-- name of function -->
					</sales_order_load_after>
				</observers>
			</sales_order_load_after>
		</events>
		<resources>
			<collivery_setup>
				<setup>
					<module>MDS_Collivery</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</collivery_setup>
			<collivery_write>
				<connection>
					<use>core_write</use>
				</connection>
			</collivery_write>
			<collivery_read>
				<connection>
					<use>core_read</use>
				</connection>
			</collivery_read>
		</resources>
		<blocks>
			<collivery>
				<class>MDS_Collivery_Block</class>
			</collivery>
		</blocks>
		<helpers>
			<collivery>
				<class>MDS_Collivery_Helper</class>
			</collivery>
		</helpers>
	</global>
	<global>
		<fieldsets>
			
			<sales_copy_order_billing_address>
				<mds_cptype>
					<to_order>*</to_order>
				</mds_cptype>
				<mds_building>
					<to_order>*</to_order>
				</mds_building>
			</sales_copy_order_billing_address>
			
			<sales_copy_order_shipping_address>
				<mds_cptype>
					<to_order>*</to_order>
				</mds_cptype>
				<mds_building>
					<to_order>*</to_order>
				</mds_building>
			</sales_copy_order_shipping_address>
			
			<sales_convert_order_address>
				<mds_cptype>
					<to_quote_address>*</to_quote_address>
				</mds_cptype>
				<mds_building>
					<to_quote_address>*</to_quote_address>
				</mds_building>
			</sales_convert_order_address>
			
			<sales_convert_quote_address>
				<mds_cptype>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</mds_cptype>
				<mds_building>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</mds_building>
			</sales_convert_quote_address>
			
			<customer_address>
				<mds_cptype>
					<to_quote_address>*</to_quote_address>
				</mds_cptype>
				<mds_building>
					<to_quote_address>*</to_quote_address>
				</mds_building>
			</customer_address>
			
			<checkout_onepage_billing>
				<mds_cptype>
					<to_customer>*</to_customer>
				</mds_cptype>
				<mds_building>
					<to_customer>*</to_customer>
				</mds_building>
			</checkout_onepage_billing>
			
		</fieldsets>
	</global>
	<default>
		<carriers>
			<collivery>
				<active>1</active>
				<model>mds_collivery/carrier_collivery</model>
				<title>MDS Collivery</title>
				<lengthLabel>length</lengthLabel>
				<widthLabel>width</widthLabel>
				<heightLabel>height</heightLabel>
				<markup>10</markup>
				<specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
				<sallowspecific>1</sallowspecific>
				<specificcountry>ZA</specificcountry>
			</collivery>
		</carriers>
	</default>
	<frontend>
		<routers>
			<collivery>
				<use>standard</use>
				<args>
					<module>MDS_Collivery</module>
					<frontName>collivery</frontName>
				</args>
			</collivery>
		</routers>
		<layout>
			<updates>
				<collivery>
					<file>collivery.xml</file>
				</collivery>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<colliveryadmin>
				<use>admin</use>
				<args>
					<module>MDS_Collivery</module>
					<frontName>colliveryadmin</frontName>
				</args>
			</colliveryadmin>
		</routers>
	</admin>
	<admin>
		<fieldsets>
			<customer_dataflow>
				<mds_cptype>
					<billing>1</billing>
					<shipping>1</shipping>
				</mds_cptype>
				<mds_building>
					<billing>1</billing>
					<shipping>1</shipping>
				</mds_building>
			</customer_dataflow>
		</fieldsets>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<collivery>
					<file>collivery.xml</file>
				</collivery>
			</updates>
		</layout>
	</adminhtml>
</config>
